@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --scms-primary-blue: rgb(0, 159, 227);
  --scms-green: rgb(134, 188, 37);
  --scms-yellow: rgb(218, 199, 30);
  --scms-orange: rgb(242, 140, 0);
}

// TODO: Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
